### Kompresor v0.1.1;
# KDE4 service menu
# bsdtar compressing
# GPLv3
# © Mladen Pejaković <pejakm@cryptolab.net>, 2013.

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=addToZip;addTo7Z;addToCpio;addToAr;addToShar;_SEPARATOR_;addToTar;addToTarN;addTo;_SEPARATOR_;
X-KDE-Submenu=Compress
X-KDE-Submenu[ar]=اضغط
X-KDE-Submenu[bg]=Компресиране
X-KDE-Submenu[ca]=Compressió
X-KDE-Submenu[ca@valencia]=Compressió
X-KDE-Submenu[cs]=Zkomprimovat
X-KDE-Submenu[da]=Komprimér
X-KDE-Submenu[de]=Komprimieren
X-KDE-Submenu[el]=Συμπίεση
X-KDE-Submenu[en_GB]=Compress
X-KDE-Submenu[es]=Comprimir
X-KDE-Submenu[et]=Paki
X-KDE-Submenu[eu]=Konprimatu
X-KDE-Submenu[fi]=Tiivistä
X-KDE-Submenu[fr]=Compresser
X-KDE-Submenu[ga]=Comhbhrúigh
X-KDE-Submenu[gl]=Comprimir
X-KDE-Submenu[hne]=संपीडित करव
X-KDE-Submenu[hr]=Zapakiraj
X-KDE-Submenu[hu]=Tömörítés
X-KDE-Submenu[it]=Comprimi
X-KDE-Submenu[ja]=圧縮
X-KDE-Submenu[km]=បង្ហាប់
X-KDE-Submenu[ko]=압축하기
X-KDE-Submenu[lt]=Suspausti
X-KDE-Submenu[lv]=Saspiest
X-KDE-Submenu[nb]=Komprimer
X-KDE-Submenu[nds]=Komprimeren
X-KDE-Submenu[nl]=Comprimeren
X-KDE-Submenu[nn]=Komprimer
X-KDE-Submenu[pa]=ਕੰਪਰੈੱਸ
X-KDE-Submenu[pl]=Kompresuj
X-KDE-Submenu[pt]=Comprimir
X-KDE-Submenu[pt_BR]=Compactar
X-KDE-Submenu[ro]=Comprimă
X-KDE-Submenu[ru]=Упаковать
X-KDE-Submenu[sk]=Komprimovať
X-KDE-Submenu[sl]=Stisni
X-KDE-Submenu[sr]=Компресуј
X-KDE-Submenu[sr@ijekavian]=Компресуј
X-KDE-Submenu[sr@ijekavianlatin]=Kompresuj
X-KDE-Submenu[sr@latin]=Kompresuj
X-KDE-Submenu[sv]=Compress
X-KDE-Submenu[th]=บีบข้อมูล
X-KDE-Submenu[tr]=Sıkıştır
X-KDE-Submenu[uk]=Стиснути
X-KDE-Submenu[x-test]=xxCompressxx
X-KDE-Submenu[zh_CN]=压缩
X-KDE-Submenu[zh_TW]=壓縮
X-KDE-Priority=TopLevel
TryExec=bsdtar

[Desktop Action addToZip]
Name=As ZIP Archive
Name[ar]=ك أرشيف ZIP
Name[ca]=Com a arxiu ZIP
Name[ca@valencia]=Com a arxiu ZIP
Name[cs]=Jako ZIP archív
Name[da]=Som ZIP-arkiv
Name[de]=Als ZIP-Archiv
Name[en_GB]=As ZIP Archive
Name[es]=Como archivo comprimido ZIP
Name[et]=ZIP-arhiivina
Name[eu]=ZIP artxibo gisa
Name[fi]=Zip-arkistoksi
Name[fr]=En tant qu'archive ZIP
Name[gl]=Como arquivo ZIP
Name[hr]=Kao ZIP-arhiva
Name[hu]=ZIP archívumként
Name[it]=Come archivio ZIP
Name[ja]=ZIP アーカイブに
Name[km]=ជា​ប័ណ្ណសារ ZIP
Name[lt]=ZIP archyvas
Name[lv]=Kā ZIP arhīvu
Name[nb]=Som ZIP-arkiv
Name[nds]=As Zip-Archiev
Name[nl]=Als ZIP-archief
Name[nn]=Som ZIP-arkiv
Name[pa]=ਜ਼ਿਪ ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum ZIP
Name[pt]=Como Pacote ZIP
Name[pt_BR]=Como arquivo ZIP
Name[ro]=Ca arhivă ZIP
Name[ru]=Как архив ZIP
Name[sk]=Do ZIP archívu
Name[sl]=Kot arhiv ZIP
Name[sr]=као ЗИП архиву
Name[sr@ijekavian]=као ЗИП архиву
Name[sr@ijekavianlatin]=kao ZIP arhivu
Name[sr@latin]=kao ZIP arhivu
Name[sv]=Som ZIP-arkiv
Name[tr]=ZIP Arşivi Olarak
Name[uk]=Як архів ZIP
Name[x-test]=xxAs ZIP Archivexx
Name[zh_CN]=为 ZIP 归档
Name[zh_TW]=成 ZIP 壓縮檔
Icon=application-zip
Exec=out=`cd %D && bsdtar -acf archive.zip %N 2>&1` && kdialog --title "Kompresor" --passivepopup "Done adding '%N' to the archive.zip!" || kdialog --error "Error:\n$out"
Exec[sr@ijekavian]=out=`cd %D && bsdtar -acf arhiva.zip %N 2>&1` && kdialog --title "Компресор" --passivepopup "Паковање '%N' у arhiva.zip завршено!" || kdialog --error "Грешка:\n$out"

[Desktop Action addTo7Z]
Name=As 7Z Archive
Name[ar]=ك أرشيف 7Z
Name[ca]=Com a arxiu 7Z
Name[ca@valencia]=Com a arxiu 7Z
Name[cs]=Jako 7Z archív
Name[da]=Som 7Z-arkiv
Name[de]=Als 7Z-Archiv
Name[en_GB]=As 7Z Archive
Name[es]=Como archivo comprimido 7Z
Name[et]=7Z-arhiivina
Name[eu]=7Z artxibo gisa
Name[fi]=7Z-arkistoksi
Name[fr]=En tant qu'archive 7Z
Name[gl]=Como arquivo 7Z
Name[hr]=Kao 7Z-arhiva
Name[hu]=7Z archívumként
Name[it]=Come archivio 7Z
Name[ja]=7Z アーカイブに
Name[km]=ជា​ប័ណ្ណសារ 7Z
Name[lt]=7Z archyvas
Name[lv]=Kā 7Z arhīvu
Name[nb]=Som 7Z-arkiv
Name[nds]=As 7Z-Archiev
Name[nl]=Als 7Z-archief
Name[nn]=Som 7Z-arkiv
Name[pa]=ਜ਼ਿਪ ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum 7Z
Name[pt]=Como Pacote 7Z
Name[pt_BR]=Como arquivo 7Z
Name[ro]=Ca arhivă 7Z
Name[ru]=Как архив 7Z
Name[sk]=Do 7Z archívu
Name[sl]=Kot arhiv 7Z
Name[sr]=као 7З архиву
Name[sr@ijekavian]=као 7З архиву
Name[sr@ijekavianlatin]=kao 7Z arhivu
Name[sr@latin]=kao 7Z arhivu
Name[sv]=Som 7Z-arkiv
Name[tr]=7Z Arşivi Olarak
Name[uk]=Як архів 7Z
Name[x-test]=xxAs 7Z Archivexx
Name[zh_CN]=为 7Z 归档
Name[zh_TW]=成 7Z 壓縮檔
Icon=application-x-7z-compressed
Exec=out=`cd %D && bsdtar -acf archive.z7 %N 2>&1` && kdialog --title "Kompresor" --passivepopup "Done adding '%N' to the archive.7z!" || kdialog --error "Error:\n$out"
Exec[sr@ijekavian]=out=`cd %D && bsdtar -acf arhiva.z7 %N 2>&1` && kdialog --title "Компресор" --passivepopup "Паковање '%N' у arhiva.7z завршено!" || kdialog --error "Грешка:\n$out"

[Desktop Action addToCpio]
Name=As CPIO Archive
Name[ar]=ك أرشيف CPIO
Name[ca]=Com a arxiu CPIO
Name[ca@valencia]=Com a arxiu CPIO
Name[cs]=Jako CPIO archív
Name[da]=Som CPIO-arkiv
Name[de]=Als CPIO-Archiv
Name[en_GB]=As CPIO Archive
Name[es]=Como archivo comprimido CPIO
Name[et]=CPIO-arhiivina
Name[eu]=CPIO artxibo gisa
Name[fi]=Cpio-arkistoksi
Name[fr]=En tant qu'archive CPIO
Name[gl]=Como arquivo CPIO
Name[hr]=Kao CPIO-arhiva
Name[hu]=CPIO archívumként
Name[it]=Come archivio CPIO
Name[ja]=CPIO アーカイブに
Name[km]=ជា​ប័ណ្ណសារ CPIO
Name[lt]=CPIO archyvas
Name[lv]=Kā CPIO arhīvu
Name[nb]=Som CPIO-arkiv
Name[nds]=As Cpio-Archiev
Name[nl]=Als CPIO-archief
Name[nn]=Som CPIO-arkiv
Name[pa]=ਜ਼ਿਪ ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum CPIO
Name[pt]=Como Pacote CPIO
Name[pt_BR]=Como arquivo CPIO
Name[ro]=Ca arhivă CPIO
Name[ru]=Как архив CPIO
Name[sk]=Do CPIO archívu
Name[sl]=Kot arhiv CPIO
Name[sr]=као ЦПИО архиву
Name[sr@ijekavian]=као ЦПИО архиву
Name[sr@ijekavianlatin]=kao CPIO arhivu
Name[sr@latin]=kao CPIO arhivu
Name[sv]=Som CPIO-arkiv
Name[tr]=CPIO Arşivi Olarak
Name[uk]=Як архів CPIO
Name[x-test]=xxAs CPIO Archivexx
Name[zh_CN]=为 CPIO 归档
Name[zh_TW]=成 CPIO 壓縮檔
Icon=application-x-cpio
Exec=frmt=`kdialog --menu "Format:" ustar "ustar - POSIX.1 tar" pax "pax - POSIX.1 pax" odc "odc - old POSIX.1 portable" newc "newc - SVR4 portable" --default "newc - SVR4 portable" --geometry 100x100`; if [ "$frmt" = "" ]; then exit 0; fi && cmpr=`kdialog --menu "Compression:" none "none" J "xz" z "gzip" y "bzip2" Z "compress" lzma "lzma" lzop "lzop" lrzip "lrzip" --default "none" --geometry 100x190`; if [ "$cmpr" = "" ]; then exit 0; elif [ "$cmpr" = "none" ]; then cmprs=""; elif [ "$cmpr" = "lzma" ] || [ "$cmpr" = "lzop" ] || [ "$cmpr" = "lrzip" ]; then cmprs="--$cmpr"; else cmprs="-$cmpr"; fi && out=`cd %D && find %N -print | bsdcpio -o $cmprs -H $frmt >archive.cpio %N 2>&1` && kdialog --title "Kompresor" --passivepopup "Done adding '%N' to the archive.cpio!" || kdialog --error "Error:\n$out"
Exec[sr@ijekavian]=frmt=`kdialog --menu "Формат:" ustar "ustar - POSIX.1 tar" pax "pax - POSIX.1 pax" odc "odc - old POSIX.1 portable" newc "newc - SVR4 portable" --default "newc - SVR4 portable" --geometry 100x100`; if [ "$frmt" = "" ]; then exit 0; fi && cmpr=`kdialog --menu "Компресија:" none "без" J "xz" z "gzip" y "bzip2" Z "compress" lzma "lzma" lzop "lzop" lrzip "lrzip" --default "без" --geometry 100x190`; if [ "$cmpr" = "" ]; then exit 0; elif [ "$cmpr" = "none" ]; then cmprs=""; elif [ "$cmpr" = "lzma" ] || [ "$cmpr" = "lzop" ] || [ "$cmpr" = "lrzip" ]; then cmprs="--$cmpr"; else cmprs="-$cmpr"; fi && out=`cd %D && find %N -print | bsdcpio -o $cmprs -H $frmt >arhiva.cpio %N 2>&1` && kdialog --title "Компресор" --passivepopup "Паковање '%N' у arhiva.cpio завршено!" || kdialog --error "Грешка:\n$out"

[Desktop Action addToAr]
MimeType=all/allfiles;
Name=As AR Archive
Name[ar]=ك أرشيف AR
Name[ca]=Com a arxiu AR
Name[ca@valencia]=Com a arxiu AR
Name[cs]=Jako AR archív
Name[da]=Som AR-arkiv
Name[de]=Als AR-Archiv
Name[en_GB]=As AR Archive
Name[es]=Como archivo comprimido AR
Name[et]=AR-arhiivina
Name[eu]=AR artxibo gisa
Name[fi]=Ar-arkistoksi
Name[fr]=En tant qu'archive AR
Name[gl]=Como arquivo AR
Name[hr]=Kao AR-arhiva
Name[hu]=AR archívumként
Name[it]=Come archivio AR
Name[ja]=AR アーカイブに
Name[km]=ជា​ប័ណ្ណសារ AR
Name[lt]=AR archyvas
Name[lv]=Kā AR arhīvu
Name[nb]=Som AR-arkiv
Name[nds]=As Ar-Archiev
Name[nl]=Als AR-archief
Name[nn]=Som AR-arkiv
Name[pa]=ਜ਼ਿਪ ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum AR
Name[pt]=Como Pacote AR
Name[pt_BR]=Como arquivo AR
Name[ro]=Ca arhivă AR
Name[ru]=Как архив AR
Name[sk]=Do AR archívu
Name[sl]=Kot arhiv AR
Name[sr]=као АР архиву
Name[sr@ijekavian]=као АР архиву
Name[sr@ijekavianlatin]=kao AR arhivu
Name[sr@latin]=kao AR arhivu
Name[sv]=Som AR-arkiv
Name[tr]=AR Arşivi Olarak
Name[uk]=Як архів AR
Name[x-test]=xxAs AR Archivexx
Name[zh_CN]=为 AR 归档
Name[zh_TW]=成 AR 壓縮檔
Icon=application-x-ar
Exec=out=`cd %D && bsdtar -acf archive.ar %N 2>&1` && kdialog --title "Kompresor" --passivepopup "Done adding '%N' to the archive.ar!" || kdialog --error "Error:\n$out"
Exec[sr@ijekavian]=out=`cd %D && bsdtar -acf arhiva.ar %N 2>&1` && kdialog --title "Компресор" --passivepopup "Паковање '%N' у arhiva.ar завршено!" || kdialog --error "Грешка:\n$out"

[Desktop Action addToShar]
MimeType=all/allfiles;
Name=As SHAR Archive
Name[ar]=ك أرشيف SHAR
Name[ca]=Com a arxiu SHAR
Name[ca@valencia]=Com a arxiu SHAR
Name[cs]=Jako SHAR archív
Name[da]=Som SHAR-arkiv
Name[de]=Als SHAR-Archiv
Name[en_GB]=As SHAR Archive
Name[es]=Como archivo comprimido SHAR
Name[et]=SHAR-arhiivina
Name[eu]=SHAR artxibo gisa
Name[fi]=Shar-arkistoksi
Name[fr]=En tant qu'archive SHAR
Name[gl]=Como arquivo SHAR
Name[hr]=Kao SHAR-arhiva
Name[hu]=SHAR archívumként
Name[it]=Come archivio SHAR
Name[ja]=SHAR アーカイブに
Name[km]=ជា​ប័ណ្ណសារ SHAR
Name[lt]=SHAR archyvas
Name[lv]=Kā SHAR arhīvu
Name[nb]=Som SHAR-arkiv
Name[nds]=As Shar-Archiev
Name[nl]=Als SHAR-archief
Name[nn]=Som SHAR-arkiv
Name[pa]=ਜ਼ਿਪ ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum SHAR
Name[pt]=Como Pacote SHAR
Name[pt_BR]=Como arquivo SHAR
Name[ro]=Ca arhivă SHAR
Name[ru]=Как архив SHAR
Name[sk]=Do SHAR archívu
Name[sl]=Kot arhiv SHAR
Name[sr]=као СХАР архиву
Name[sr@ijekavian]=као СХАР архиву
Name[sr@ijekavianlatin]=kao SHAR arhivu
Name[sr@latin]=kao SHAR arhivu
Name[sv]=Som SHAR-arkiv
Name[tr]=SHAR Arşivi Olarak
Name[uk]=Як архів SHAR
Name[x-test]=xxAs SHAR Archivexx
Name[zh_CN]=为 SHAR 归档
Name[zh_TW]=成 SHAR 壓縮檔
Icon=application-x-shar
Exec=out=`cd %D && bsdtar -acf archive.shar %N 2>&1` && kdialog --title "Kompresor" --passivepopup "Done adding '%N' to the archive.shar!" || kdialog --error "Error:\n$out"
Exec[sr@ijekavian]=out=`cd %D && bsdtar -acf arhiva.shar %N 2>&1` && kdialog --title "Компресор" --passivepopup "Паковање '%N' у arhiva.shar завршено!" || kdialog --error "Грешка:\n$out"

[Desktop Action addToTar]
Name=As TAR...
Name[cs]=Jako TAR...
Name[da]=Som TAR...
Name[de]=Als TAR...
Name[en_GB]=As TAR...
Name[es]=Como TAR...
Name[et]=TAR...
Name[fi]=Tar...
Name[fr]=En tant TAR...
Name[gl]=Como TAR...
Name[hr]=Kao TAR...
Name[hu]=TAR...
Name[it]=Come TAR...
Name[lv]=Kā TAR...
Name[nb]=Som TAR...
Name[nds]=As Tar...
Name[nl]=Als TAR...
Name[nn]=Som TAR...
Name[pl]=Jako TAR...
Name[pt]=Como TAR...
Name[pt_BR]=Como TAR...
Name[ro]=Ca TAR...
Name[ru]=Как TAR...
Name[sk]=Do TAR...
Name[sl]=Kot TAR...
Name[sr]=као тар...
Name[sr@ijekavian]=као тар...
Name[sr@ijekavianlatin]=kao tar...
Name[sr@latin]=kao tar...
Name[sv]=Som TAR...
Name[tr]=TAR Olarak...
Name[uk]=Як TAR...
Name[x-test]=xxAs TAR...xx
Icon=application-x-tar
Exec=nast=`kdialog --menu "Compression:" tar "none" tar.Z "Z" tar.gz "gzip" tar.bz2 "bzip2" tar.xz "xz" tar.lzma "lzma" tar.lz "lzip" tar.lrz "lrzip" tar.lzo "lzop" --default "gzip" --geometry 50x210`; if [ "$nast" = "" ]; then exit 0; fi && out=`cd %D && bsdtar -caf archive.$nast %N 2>&1` && kdialog --title "Kompresor" --passivepopup "Done adding '%N' to the archive.$nast!" || kdialog --error "Error:\n$out"
Exec[sr@ijekavian]=nast=`kdialog --menu "Компресија:" tar "без" tar.Z "Z" tar.gz "gzip" tar.bz2 "bzip2" tar.xz "xz" tar.lzma "lzma" tar.lz "lzip" tar.lrz "lrzip" tar.lzo "lzop" --default "gzip" --geometry 50x210`; if [ "$nast" = "" ]; then exit 0; fi && out=`cd %D && bsdtar -caf arhiva.$nast %N 2>&1` && kdialog --title "Компресор" --passivepopup "Паковање '%N' у arhiva.$nast је завршено!" || kdialog --error "Грешка:\n$out"

[Desktop Action addToTarN]
Name=As TAR Archive
Name[ar]=كأرشيف  TAR
Name[ca]=Com a arxiu TAR
Name[ca@valencia]=Com a arxiu TAR
Name[cs]=Jako TAR archív
Name[da]=Som TAR-arkiv
Name[de]=Als TAR-Archiv
Name[en_GB]=As TAR Archive
Name[es]=Como archivo comprimido TAR
Name[et]=TAR-arhiivina
Name[eu]=TAR artxibo gisa
Name[fi]=Tar-arkistoksi
Name[fr]=En tant qu'archive TAR
Name[gl]=Como arquivo TAR
Name[hr]=Kao TAR-arhiva
Name[hu]=TAR archívumként
Name[it]=Come archivio TAR
Name[ja]=TAR アーカイブに
Name[km]=ជា​ប័ណ្ណសារ TAR
Name[lv]=Kā TAR arhīvu
Name[nb]=Som TAR-arkiv
Name[nds]=As Tar-Archiev
Name[nl]=Als TAR-archief
Name[nn]=Som TAR-arkiv
Name[pa]=TAR ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum TAR
Name[pt]=Como Pacote TAR
Name[pt_BR]=Como arquivo TAR
Name[ro]=Ca arhivă TAR
Name[ru]=Как архив TAR
Name[sk]=Do TAR archívu
Name[sl]=Kot arhiv TAR
Name[sr]=као тар архиву
Name[sr@ijekavian]=као тар архиву
Name[sr@ijekavianlatin]=kao tar arhivu
Name[sr@latin]=kao tar arhivu
Name[sv]=Som TAR-arkiv
Name[tr]=TAR Arşivi Olarak
Name[uk]=Як архів TAR
Name[x-test]=xxAs TAR Archivexx
Name[zh_CN]=为 TAR 归档
Icon=application-x-tar
Exec=ime=`kdialog --inputbox "Name:" "%N"`; if [ "$ime" = "" ]; then exit 0; fi && nast=`kdialog --menu "Compression:" tar "none" tar.Z "Z" tar.gz "gzip" tar.bz2 "bzip2" tar.xz "xz" tar.lzma "lzma" tar.lz "lzip" tar.lrz "lrzip" tar.lzo "lzop" --default "gzip" --geometry 50x210`; if [ "$nast" = "" ]; then exit 0; fi && out=`cd %D && bsdtar -caf "$ime.$nast" %N 2>&1` && kdialog --title "Kompresor" --passivepopup "Done adding '%N' to the $ime.$nast!" || kdialog --error "Error:\n$out"
Exec[sr@ijekavian]=ime=`kdialog --inputbox "Назив:" "%N"`; if [ "$ime" = "" ]; then exit 0; fi && nast=`kdialog --menu "Компресија:" tar "без" tar.Z "Z" tar.gz "gzip" tar.bz2 "bzip2" tar.xz "xz" tar.lzma "lzma" tar.lz "lzip" tar.lrz "lrzip" tar.lzo "lzop" --default "gzip" --geometry 50x210`; if [ "$nast" = "" ]; then exit 0; fi && out=`cd %D && bsdtar -caf "$ime.$nast" %N 2>&1` && kdialog --title "Компресор" --passivepopup "Паковање '%N' у $ime.$nast је завршено!" || kdialog --error "Грешка:\n$out"

[Desktop Action addTo]
Name=To...
Name[ar]=اضغط إلى...
Name[ca]=Comprimeix a...
Name[ca@valencia]=Comprimeix a...
Name[cs]=Zkomprimovat do...
Name[da]=Komprimér til...
Name[de]=Komprimieren nach ...
Name[en_GB]=Compress To...
Name[es]=Comprimir en...
Name[et]=Paki asukohta...
Name[eu]=Konprimatu hona...
Name[fi]=Tiivistä...
Name[fr]=Compresser vers...
Name[gl]=Comprimir en...
Name[hr]=Zapakiraj u …
Name[hu]=Tömörítés ide...
Name[it]=Comprimi in...
Name[ja]=圧縮...
Name[km]=បង្ហាប់​ទៅ​ជា​...
Name[lt]=Suspausti į...
Name[lv]=Saspiest uz...
Name[nb]=Komprimer til …
Name[nds]=Komprimeren as...
Name[nl]=Comprimeren naar...
Name[nn]=Komprimer til …
Name[pa]=...ਵਜੋਂ ਕੰਪਰੈੱਸ ਕਰੋ
Name[pl]=Kompresuj do...
Name[pt]=Comprimir Para...
Name[pt_BR]=Comprimir para...
Name[ro]=Comprimă în...
Name[ru]=Упаковать в архив...
Name[sk]=Komprimovať do...
Name[sl]=Stisni v ...
Name[sr]=другде...
Name[sr@ijekavian]=другдје...
Name[sr@ijekavianlatin]=drugdje...
Name[sr@latin]=drugde...
Name[sv]=Komprimera till...
Name[tr]=Farklı Sıkıştır...
Name[uk]=Стиснути до...
Name[x-test]=xxCompress To...xx
Name[zh_CN]=压缩到...
Name[zh_TW]=壓縮為...
Icon=application-x-tar
Exec=nast=`kdialog --menu "Compression:" tar "none" tar.Z "Z" tar.gz "gzip" tar.bz2 "bzip2" tar.xz "xz" tar.lzma "lzma" tar.lz "lzip" tar.lrz "lrzip" tar.lzo "lzop" --default "gzip" --geometry 50x210`; if [ "$nast" = "" ]; then exit 0; fi && ime=`kdialog --getsavefilename "%D/archive" $nast`; if [ "$ime" = "" ]; then exit 0; fi && out=`cd %D && bsdtar -caf $ime.$nast %N 2>&1` && kdialog --title "Kompresor" --passivepopup "Done adding '%N' to the $ime.$nast!" || kdialog --error "Error:\n$out"
Exec[sr@ijekavian]=nast=`kdialog --menu "Компресија:" tar "без" tar.Z "Z" tar.gz "gzip" tar.bz2 "bzip2" tar.xz "xz" tar.lzma "lzma" tar.lz "lzip" tar.lrz "lrzip" tar.lzo "lzop" --default "gzip" --geometry 50x210`; if [ "$nast" = "" ]; then exit 0; fi && ime=`kdialog --getsavefilename "%D/arhiva" $nast`; if [ "$ime" = "" ]; then exit 0; fi && out=`cd %D && bsdtar -caf $ime.$nast %N 2>&1` && kdialog --title "Компресор" --passivepopup "Паковање '%N' у $ime.$nast је завршено!" || kdialog --error "Грешка:\n$out"
