### Kompresor v0.1;
# KDE4 service menu
# balz compressing
# GPLv3
# © Mladen Pejaković <pejakm@cryptolab.net>, 2013.

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Actions=addToBalz;
X-KDE-Submenu=Compress
X-KDE-Submenu[ar]=اضغط
X-KDE-Submenu[bg]=Компресиране
X-KDE-Submenu[ca]=Compressió
X-KDE-Submenu[ca@valencia]=Compressió
X-KDE-Submenu[cs]=Zkomprimovat
X-KDE-Submenu[da]=Komprimér
X-KDE-Submenu[de]=Komprimieren
X-KDE-Submenu[el]=Συμπίεση
X-KDE-Submenu[en_GB]=Compress
X-KDE-Submenu[es]=Comprimir
X-KDE-Submenu[et]=Paki
X-KDE-Submenu[eu]=Konprimatu
X-KDE-Submenu[fi]=Tiivistä
X-KDE-Submenu[fr]=Compresser
X-KDE-Submenu[ga]=Comhbhrúigh
X-KDE-Submenu[gl]=Comprimir
X-KDE-Submenu[hne]=संपीडित करव
X-KDE-Submenu[hr]=Zapakiraj
X-KDE-Submenu[hu]=Tömörítés
X-KDE-Submenu[it]=Comprimi
X-KDE-Submenu[ja]=圧縮
X-KDE-Submenu[km]=បង្ហាប់
X-KDE-Submenu[ko]=압축하기
X-KDE-Submenu[lt]=Suspausti
X-KDE-Submenu[lv]=Saspiest
X-KDE-Submenu[nb]=Komprimer
X-KDE-Submenu[nds]=Komprimeren
X-KDE-Submenu[nl]=Comprimeren
X-KDE-Submenu[nn]=Komprimer
X-KDE-Submenu[pa]=ਕੰਪਰੈੱਸ
X-KDE-Submenu[pl]=Kompresuj
X-KDE-Submenu[pt]=Comprimir
X-KDE-Submenu[pt_BR]=Compactar
X-KDE-Submenu[ro]=Comprimă
X-KDE-Submenu[ru]=Упаковать
X-KDE-Submenu[sk]=Komprimovať
X-KDE-Submenu[sl]=Stisni
X-KDE-Submenu[sr]=Компресуј
X-KDE-Submenu[sr@ijekavian]=Компресуј
X-KDE-Submenu[sr@ijekavianlatin]=Kompresuj
X-KDE-Submenu[sr@latin]=Kompresuj
X-KDE-Submenu[sv]=Compress
X-KDE-Submenu[th]=บีบข้อมูล
X-KDE-Submenu[tr]=Sıkıştır
X-KDE-Submenu[uk]=Стиснути
X-KDE-Submenu[x-test]=xxCompressxx
X-KDE-Submenu[zh_CN]=压缩
X-KDE-Submenu[zh_TW]=壓縮
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel
TryExec=balz

[Desktop Action addToBalz]
Name=As BALZ Archive
Name[ar]=كأرشيف BALZ
Name[ca]=Com a arxiu BALZ
Name[ca@valencia]=Com a arxiu BALZ
Name[cs]=Jako BALZ archív
Name[da]=Som BALZ-arkiv
Name[de]=Als BALZ-Archiv
Name[en_GB]=As BALZ Archive
Name[es]=Como archivo comprimido BALZ
Name[et]=BALZ-arhiivina
Name[eu]=BALZ artxiboa gisa
Name[fi]=Balz-arkistoksi
Name[fr]=En tant qu'archive BALZ
Name[gl]=Como arquivo BALZ
Name[hr]=Kao BALZ-arhiva
Name[hu]=BALZ archívumként
Name[it]=Come archivio BALZ
Name[ja]=BALZ アーカイブに
Name[km]=​ជា​ប័ណ្ណសារ BALZ
Name[lt]=BALZ archyvas
Name[lv]=Kā BALZ arhīvu
Name[nb]=Som BALZ-arkiv
Name[nds]=As Balz-Archiev
Name[nl]=Als BALZ-archief
Name[nn]=Som BALZ-arkiv
Name[pa]=BALZ ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum BALZ
Name[pt]=Como Pacote BALZ
Name[pt_BR]=Como arquivo BALZ
Name[ro]=Ca arhivă BALZ
Name[ru]=Как архив BALZ
Name[sk]=Do BALZ archívu
Name[sl]=Kot arhiv BALZ
Name[sr]=као БАЛЗ архиву
Name[sr@ijekavian]=као БАЛЗ архиву
Name[sr@ijekavianlatin]=kao BALZ arhivu
Name[sr@latin]=kao BALZ arhivu
Name[sv]=Som BALZ-arkiv
Name[tr]=BALZ Arşivi Olarak
Name[uk]=Як архів BALZ
Name[x-test]=xxAs BALZ Archivexx
Name[zh_CN]=为 BALZ 归档
Name[zh_TW]=成 BALZ 壓縮檔
Icon=application-x-compress
Exec=out=`balz e %u %u.balz 2>&1` && kdialog --passivepopup "Done compressing '%u'!" || kdialog --error "Error:\n$out"
Exec[sr@ijekavian]=out=`balz e %u %u.balz 2>&1` && kdialog --passivepopup "Паковање '%u' завршено!" || kdialog --error "Грешка:\n$out"
