### Kompresor v0.1;
# KDE4 service menu
# rar compressing
# GPLv3
# © Mladen Pejaković <pejakm@cryptolab.net>, 2013.

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=addToRar;
X-KDE-Submenu=Compress
X-KDE-Submenu[ar]=اضغط
X-KDE-Submenu[bg]=Компресиране
X-KDE-Submenu[ca]=Compressió
X-KDE-Submenu[ca@valencia]=Compressió
X-KDE-Submenu[cs]=Zkomprimovat
X-KDE-Submenu[da]=Komprimér
X-KDE-Submenu[de]=Komprimieren
X-KDE-Submenu[el]=Συμπίεση
X-KDE-Submenu[en_GB]=Compress
X-KDE-Submenu[es]=Comprimir
X-KDE-Submenu[et]=Paki
X-KDE-Submenu[eu]=Konprimatu
X-KDE-Submenu[fi]=Tiivistä
X-KDE-Submenu[fr]=Compresser
X-KDE-Submenu[ga]=Comhbhrúigh
X-KDE-Submenu[gl]=Comprimir
X-KDE-Submenu[hne]=संपीडित करव
X-KDE-Submenu[hr]=Zapakiraj
X-KDE-Submenu[hu]=Tömörítés
X-KDE-Submenu[it]=Comprimi
X-KDE-Submenu[ja]=圧縮
X-KDE-Submenu[km]=បង្ហាប់
X-KDE-Submenu[ko]=압축하기
X-KDE-Submenu[lt]=Suspausti
X-KDE-Submenu[lv]=Saspiest
X-KDE-Submenu[nb]=Komprimer
X-KDE-Submenu[nds]=Komprimeren
X-KDE-Submenu[nl]=Comprimeren
X-KDE-Submenu[nn]=Komprimer
X-KDE-Submenu[pa]=ਕੰਪਰੈੱਸ
X-KDE-Submenu[pl]=Kompresuj
X-KDE-Submenu[pt]=Comprimir
X-KDE-Submenu[pt_BR]=Compactar
X-KDE-Submenu[ro]=Comprimă
X-KDE-Submenu[ru]=Упаковать
X-KDE-Submenu[sk]=Komprimovať
X-KDE-Submenu[sl]=Stisni
X-KDE-Submenu[sr]=Компресуј
X-KDE-Submenu[sr@ijekavian]=Компресуј
X-KDE-Submenu[sr@ijekavianlatin]=Kompresuj
X-KDE-Submenu[sr@latin]=Kompresuj
X-KDE-Submenu[sv]=Compress
X-KDE-Submenu[th]=บีบข้อมูล
X-KDE-Submenu[tr]=Sıkıştır
X-KDE-Submenu[uk]=Стиснути
X-KDE-Submenu[x-test]=xxCompressxx
X-KDE-Submenu[zh_CN]=压缩
X-KDE-Submenu[zh_TW]=壓縮
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel
TryExec=rar

[Desktop Action addToRar]
Name=As RAR Archive
Name[ar]=كأرشيف RAR
Name[ca]=Com a arxiu RAR
Name[ca@valencia]=Com a arxiu RAR
Name[cs]=Jako RAR archív
Name[da]=Som RAR-arkiv
Name[de]=Als RAR-Archiv
Name[en_GB]=As RAR Archive
Name[es]=Como archivo comprimido RAR
Name[et]=RAR-arhiivina
Name[eu]=RAR artxiboa gisa
Name[fi]=Rar-arkistoksi
Name[fr]=En tant qu'archive RAR
Name[gl]=Como arquivo RAR
Name[hr]=Kao RAR-arhiva
Name[hu]=RAR archívumként
Name[it]=Come archivio RAR
Name[ja]=RAR アーカイブに
Name[km]=​ជា​ប័ណ្ណសារ RAR
Name[lt]=RAR archyvas
Name[lv]=Kā RAR arhīvu
Name[nb]=Som RAR-arkiv
Name[nds]=As Rar-Archiev
Name[nl]=Als RAR-archief
Name[nn]=Som RAR-arkiv
Name[pa]=RAR ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum RAR
Name[pt]=Como Pacote RAR
Name[pt_BR]=Como arquivo RAR
Name[ro]=Ca arhivă RAR
Name[ru]=Как архив RAR
Name[sk]=Do RAR archívu
Name[sl]=Kot arhiv RAR
Name[sr]=као РАР архиву
Name[sr@ijekavian]=као РАР архиву
Name[sr@ijekavianlatin]=kao RAR arhivu
Name[sr@latin]=kao RAR arhivu
Name[sv]=Som RAR-arkiv
Name[tr]=RAR Arşivi Olarak
Name[uk]=Як архів RAR
Name[x-test]=xxAs RAR Archivexx
Name[zh_CN]=为 RAR 归档
Name[zh_TW]=成 RAR 壓縮檔
Icon=application-x-rar
Exec=out=`cd %D && rar a -m5 archive.rar %N 2>&1` && kdialog --title "Kompresor" --passivepopup "Done compressing '%N'!" || kdialog --error "Error:\n$out"
Exec[sr@ijekavian]=out=`cd %D && rar a -m5 arhiva.rar %N 2>&1` && kdialog --title "Компресор" --passivepopup "Паковање '%N' завршено!" || kdialog --error "Грешка:\n$out"
