### Kompresor v0.1.1;
# KDE4 service menu
# arc compressing
# GPLv3
# © Mladen Pejaković <pejakm@cryptolab.net>, 2013.

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=addToArc;
X-KDE-Submenu=Compress
X-KDE-Submenu[ar]=اضغط
X-KDE-Submenu[bg]=Компресиране
X-KDE-Submenu[ca]=Compressió
X-KDE-Submenu[ca@valencia]=Compressió
X-KDE-Submenu[cs]=Zkomprimovat
X-KDE-Submenu[da]=Komprimér
X-KDE-Submenu[de]=Komprimieren
X-KDE-Submenu[el]=Συμπίεση
X-KDE-Submenu[en_GB]=Compress
X-KDE-Submenu[es]=Comprimir
X-KDE-Submenu[et]=Paki
X-KDE-Submenu[eu]=Konprimatu
X-KDE-Submenu[fi]=Tiivistä
X-KDE-Submenu[fr]=Compresser
X-KDE-Submenu[ga]=Comhbhrúigh
X-KDE-Submenu[gl]=Comprimir
X-KDE-Submenu[hne]=संपीडित करव
X-KDE-Submenu[hr]=Zapakiraj
X-KDE-Submenu[hu]=Tömörítés
X-KDE-Submenu[it]=Comprimi
X-KDE-Submenu[ja]=圧縮
X-KDE-Submenu[km]=បង្ហាប់
X-KDE-Submenu[ko]=압축하기
X-KDE-Submenu[lt]=Suspausti
X-KDE-Submenu[lv]=Saspiest
X-KDE-Submenu[nb]=Komprimer
X-KDE-Submenu[nds]=Komprimeren
X-KDE-Submenu[nl]=Comprimeren
X-KDE-Submenu[nn]=Komprimer
X-KDE-Submenu[pa]=ਕੰਪਰੈੱਸ
X-KDE-Submenu[pl]=Kompresuj
X-KDE-Submenu[pt]=Comprimir
X-KDE-Submenu[pt_BR]=Compactar
X-KDE-Submenu[ro]=Comprimă
X-KDE-Submenu[ru]=Упаковать
X-KDE-Submenu[sk]=Komprimovať
X-KDE-Submenu[sl]=Stisni
X-KDE-Submenu[sr]=Компресуј
X-KDE-Submenu[sr@ijekavian]=Компресуј
X-KDE-Submenu[sr@ijekavianlatin]=Kompresuj
X-KDE-Submenu[sr@latin]=Kompresuj
X-KDE-Submenu[sv]=Compress
X-KDE-Submenu[th]=บีบข้อมูล
X-KDE-Submenu[tr]=Sıkıştır
X-KDE-Submenu[uk]=Стиснути
X-KDE-Submenu[x-test]=xxCompressxx
X-KDE-Submenu[zh_CN]=压缩
X-KDE-Submenu[zh_TW]=壓縮
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel
TryExec=arc

[Desktop Action addToArc]
MimeType=all/allfiles;
Name=As ARC Archive
Name[ar]=ك أرشيف ARC
Name[ca]=Com a arxiu ARC
Name[ca@valencia]=Com a arxiu ARC
Name[cs]=Jako ARC archív
Name[da]=Som ARC-arkiv
Name[de]=Als ARC-Archiv
Name[en_GB]=As ARC Archive
Name[es]=Como archivo comprimido ARC
Name[et]=ARC-arhiivina
Name[eu]=ARC artxibo gisa
Name[fi]=Arc-arkistoksi
Name[fr]=En tant qu'archive ARC
Name[gl]=Como arquivo ARC
Name[hr]=Kao ARC-arhiva
Name[hu]=ARC archívumként
Name[it]=Come archivio ARC
Name[ja]=ARC アーカイブに
Name[km]=ជា​ប័ណ្ណសារ ARC
Name[lt]=ARC archyvas
Name[lv]=Kā ARC arhīvu
Name[nb]=Som ARC-arkiv
Name[nds]=As Arc-Archiev
Name[nl]=Als ARC-archief
Name[nn]=Som ARC-arkiv
Name[pa]=ਜ਼ਿਪ ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum ARC
Name[pt]=Como Pacote ARC
Name[pt_BR]=Como arquivo ARC
Name[ro]=Ca arhivă ARC
Name[ru]=Как архив ARC
Name[sk]=Do ARC archívu
Name[sl]=Kot arhiv ARC
Name[sr]=као АРК архиву
Name[sr@ijekavian]=као АРК архиву
Name[sr@ijekavianlatin]=kao ARC arhivu
Name[sr@latin]=kao ARC arhivu
Name[sv]=Som ARC-arkiv
Name[tr]=ARC Arşivi Olarak
Name[uk]=Як архів ARC
Name[x-test]=xxAs ARC Archivexx
Name[zh_CN]=为 ARC 归档
Name[zh_TW]=成 ARC 壓縮檔
Icon=application-x-arc
Exec=out=`cd %D && arc a archive.arc %N 2>&1` && kdialog --title "Kompresor" --passivepopup "Done compressing '%N'!" || kdialog --error "Error:\n$out"
Exec[sr@ijekavian]=out=`cd %D && arc a arhiva.arc %N 2>&1` && kdialog --title "Компресор" --passivepopup "Паковање '%N' завршено!" || kdialog --error "Грешка:\n$out"
