### Kompresor v0.1;
# KDE4 service menu
# lzip compressing
# GPLv3
# © Mladen Pejaković <pejakm@cryptolab.net>, 2013.

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Actions=addToLzip;
X-KDE-Submenu=Compress
X-KDE-Submenu[ar]=اضغط
X-KDE-Submenu[bg]=Компресиране
X-KDE-Submenu[ca]=Compressió
X-KDE-Submenu[ca@valencia]=Compressió
X-KDE-Submenu[cs]=Zkomprimovat
X-KDE-Submenu[da]=Komprimér
X-KDE-Submenu[de]=Komprimieren
X-KDE-Submenu[el]=Συμπίεση
X-KDE-Submenu[en_GB]=Compress
X-KDE-Submenu[es]=Comprimir
X-KDE-Submenu[et]=Paki
X-KDE-Submenu[eu]=Konprimatu
X-KDE-Submenu[fi]=Tiivistä
X-KDE-Submenu[fr]=Compresser
X-KDE-Submenu[ga]=Comhbhrúigh
X-KDE-Submenu[gl]=Comprimir
X-KDE-Submenu[hne]=संपीडित करव
X-KDE-Submenu[hr]=Zapakiraj
X-KDE-Submenu[hu]=Tömörítés
X-KDE-Submenu[it]=Comprimi
X-KDE-Submenu[ja]=圧縮
X-KDE-Submenu[km]=បង្ហាប់
X-KDE-Submenu[ko]=압축하기
X-KDE-Submenu[lt]=Suspausti
X-KDE-Submenu[lv]=Saspiest
X-KDE-Submenu[nb]=Komprimer
X-KDE-Submenu[nds]=Komprimeren
X-KDE-Submenu[nl]=Comprimeren
X-KDE-Submenu[nn]=Komprimer
X-KDE-Submenu[pa]=ਕੰਪਰੈੱਸ
X-KDE-Submenu[pl]=Kompresuj
X-KDE-Submenu[pt]=Comprimir
X-KDE-Submenu[pt_BR]=Compactar
X-KDE-Submenu[ro]=Comprimă
X-KDE-Submenu[ru]=Упаковать
X-KDE-Submenu[sk]=Komprimovať
X-KDE-Submenu[sl]=Stisni
X-KDE-Submenu[sr]=Компресуј
X-KDE-Submenu[sr@ijekavian]=Компресуј
X-KDE-Submenu[sr@ijekavianlatin]=Kompresuj
X-KDE-Submenu[sr@latin]=Kompresuj
X-KDE-Submenu[sv]=Compress
X-KDE-Submenu[th]=บีบข้อมูล
X-KDE-Submenu[tr]=Sıkıştır
X-KDE-Submenu[uk]=Стиснути
X-KDE-Submenu[x-test]=xxCompressxx
X-KDE-Submenu[zh_CN]=压缩
X-KDE-Submenu[zh_TW]=壓縮
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel
TryExec=lzip

[Desktop Action addToLzip]
Name=As LZIP Archive
Name[ar]=كأرشيف LZIP
Name[ca]=Com a arxiu LZIP
Name[ca@valencia]=Com a arxiu LZIP
Name[cs]=Jako LZIP archív
Name[da]=Som LZIP-arkiv
Name[de]=Als LZIP-Archiv
Name[en_GB]=As LZIP Archive
Name[es]=Como archivo comprimido LZIP
Name[et]=LZIP-arhiivina
Name[eu]=LZIP artxiboa gisa
Name[fi]=Lzip-arkistoksi
Name[fr]=En tant qu'archive LZIP
Name[gl]=Como arquivo LZIP
Name[hr]=Kao LZIP-arhiva
Name[hu]=LZIP archívumként
Name[it]=Come archivio LZIP
Name[ja]=LZIP アーカイブに
Name[km]=​ជា​ប័ណ្ណសារ LZIP
Name[lt]=LZIP archyvas
Name[lv]=Kā LZIP arhīvu
Name[nb]=Som LZIP-arkiv
Name[nds]=As Lzip-Archiev
Name[nl]=Als LZIP-archief
Name[nn]=Som LZIP-arkiv
Name[pa]=LZIP ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum LZIP
Name[pt]=Como Pacote LZIP
Name[pt_BR]=Como arquivo LZIP
Name[ro]=Ca arhivă LZIP
Name[ru]=Как архив LZIP
Name[sk]=Do LZIP archívu
Name[sl]=Kot arhiv LZIP
Name[sr]=као ЛЗИП архиву
Name[sr@ijekavian]=као ЛЗИП архиву
Name[sr@ijekavianlatin]=kao LZIP arhivu
Name[sr@latin]=kao LZIP arhivu
Name[sv]=Som LZIP-arkiv
Name[tr]=LZIP Arşivi Olarak
Name[uk]=Як архів LZIP
Name[x-test]=xxAs LZIP Archivexx
Name[zh_CN]=为 LZIP 归档
Name[zh_TW]=成 LZIP 壓縮檔
Icon=application-x-gzip
Exec=out=`cd %D && lzip -9k %N 2>&1` && kdialog --title "Kompresor" --passivepopup "Done compressing '%N'!" || kdialog --error "Error:\n$out"
Exec[sr@ijekavian]=out=`cd %D && lzip -9k %N 2>&1` && kdialog --title "Компресор" --passivepopup "Паковање '%N' завршено!" || kdialog --error "Грешка:\n$out"
