### Kompresor v0.1;
# KDE4 service menu
# bzip compressing
# GPLv3
# © Mladen Pejaković <pejakm@cryptolab.net>, 2013.

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Actions=addToBzip;
X-KDE-Submenu=Compress
X-KDE-Submenu[ar]=اضغط
X-KDE-Submenu[bg]=Компресиране
X-KDE-Submenu[ca]=Compressió
X-KDE-Submenu[ca@valencia]=Compressió
X-KDE-Submenu[cs]=Zkomprimovat
X-KDE-Submenu[da]=Komprimér
X-KDE-Submenu[de]=Komprimieren
X-KDE-Submenu[el]=Συμπίεση
X-KDE-Submenu[en_GB]=Compress
X-KDE-Submenu[es]=Comprimir
X-KDE-Submenu[et]=Paki
X-KDE-Submenu[eu]=Konprimatu
X-KDE-Submenu[fi]=Tiivistä
X-KDE-Submenu[fr]=Compresser
X-KDE-Submenu[ga]=Comhbhrúigh
X-KDE-Submenu[gl]=Comprimir
X-KDE-Submenu[hne]=संपीडित करव
X-KDE-Submenu[hr]=Zapakiraj
X-KDE-Submenu[hu]=Tömörítés
X-KDE-Submenu[it]=Comprimi
X-KDE-Submenu[ja]=圧縮
X-KDE-Submenu[km]=បង្ហាប់
X-KDE-Submenu[ko]=압축하기
X-KDE-Submenu[lt]=Suspausti
X-KDE-Submenu[lv]=Saspiest
X-KDE-Submenu[nb]=Komprimer
X-KDE-Submenu[nds]=Komprimeren
X-KDE-Submenu[nl]=Comprimeren
X-KDE-Submenu[nn]=Komprimer
X-KDE-Submenu[pa]=ਕੰਪਰੈੱਸ
X-KDE-Submenu[pl]=Kompresuj
X-KDE-Submenu[pt]=Comprimir
X-KDE-Submenu[pt_BR]=Compactar
X-KDE-Submenu[ro]=Comprimă
X-KDE-Submenu[ru]=Упаковать
X-KDE-Submenu[sk]=Komprimovať
X-KDE-Submenu[sl]=Stisni
X-KDE-Submenu[sr]=Компресуј
X-KDE-Submenu[sr@ijekavian]=Компресуј
X-KDE-Submenu[sr@ijekavianlatin]=Kompresuj
X-KDE-Submenu[sr@latin]=Kompresuj
X-KDE-Submenu[sv]=Compress
X-KDE-Submenu[th]=บีบข้อมูล
X-KDE-Submenu[tr]=Sıkıştır
X-KDE-Submenu[uk]=Стиснути
X-KDE-Submenu[x-test]=xxCompressxx
X-KDE-Submenu[zh_CN]=压缩
X-KDE-Submenu[zh_TW]=壓縮
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel
TryExec=bzip2

[Desktop Action addToBzip]
Name=As BZIP Archive
Name[ar]=ك أرشيف BZIP
Name[ca]=Com a arxiu BZIP
Name[ca@valencia]=Com a arxiu BZIP
Name[cs]=Jako BZIP archív
Name[da]=Som BZIP-arkiv
Name[de]=Als BZIP-Archiv
Name[en_GB]=As BZIP Archive
Name[es]=Como archivo comprimido BZIP
Name[et]=BZIP-arhiivina
Name[eu]=BZIP artxibo gisa
Name[fi]=BZip-arkistoksi
Name[fr]=En tant qu'archive BZIP
Name[gl]=Como arquivo BZIP
Name[hr]=Kao BZIP-arhiva
Name[hu]=BZIP archívumként
Name[it]=Come archivio BZIP
Name[ja]=BZIP アーカイブに
Name[km]=ជា​ប័ណ្ណសារ BZIP
Name[lt]=BZIP archyvas
Name[lv]=Kā BZIP arhīvu
Name[nb]=Som BZIP-arkiv
Name[nds]=As BZip-Archiev
Name[nl]=Als BZIP-archief
Name[nn]=Som BZIP-arkiv
Name[pa]=ਜ਼ਿਪ ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum BZIP
Name[pt]=Como Pacote BZIP
Name[pt_BR]=Como arquivo BZIP
Name[ro]=Ca arhivă BZIP
Name[ru]=Как архив BZIP
Name[sk]=Do BZIP archívu
Name[sl]=Kot arhiv BZIP
Name[sr]=као БЗИП архиву
Name[sr@ijekavian]=као БЗИП архиву
Name[sr@ijekavianlatin]=kao BZIP arhivu
Name[sr@latin]=kao BZIP arhivu
Name[sv]=Som BZIP-arkiv
Name[tr]=BZIP Arşivi Olarak
Name[uk]=Як архів BZIP
Name[x-test]=xxAs BZIP Archivexx
Name[zh_CN]=为 BZIP 归档
Name[zh_TW]=成 BZIP 壓縮檔
Icon=application-x-bzip
Exec=out=`bzip2 -k %U 2>&1` && kdialog --title "Kompresor" --passivepopup "Done compressing '%N'!" || kdialog --error "Error:\n$out"
Exec[sr@ijekavian]=out=`bzip2 -k %U 2>&1` && kdialog --title "Компресор" --passivepopup "Паковање '%N' завршено!" || kdialog --error "Грешка:\n$out"
